.widget_categories {
	margin-bottom: 10% !important;

	ul {
		list-style-type: none;
		padding: 0 2em 0 0;
		font-size: $common-text-base-size;
		line-height: $blog-sidebar-item-lineheight !important;

		li {
			list-style: none;
			border-bottom: .0625em solid rgba(0, 0, 0, .05);
			margin-bottom: 0;
			background-color: rgba(0, 0, 0, .05);

			&:hover {
				background-color: rgba(0, 0, 0, .07);

				&::after {
					content: '';
					float: right;
					width: 0;
					height: 0;
					border-top: 1.3em solid transparent;
					border-bottom: 1.3em solid transparent;
					border-left: .875em solid rgba(0, 0, 0, .07);
					margin-top: -2.55em;
					margin-right: -.875em;
				}
			}

			&.is-active, &.current-cat {
				background-color: $common-primary-color;

				&::after {
					content: '';
					float: right;
					width: 0;
					height: 0;
					border-top: 1.3em solid transparent;
					border-bottom: 1.3em solid transparent;
					border-left: .875em solid $common-primary-color;
					margin-top: -2.55em;
					margin-right: -.875em;
				}

				&:hover {
					background-color: $common-primary-color;
				}

				a {
					color: $common-button-text-color;
					cursor: default;
				}
			}

			a {
				display: block;
				padding: .5em 1.25em;
				color: $common-primary-color;
			}
		}
	}
}

.widget_categories, .widget_recent_entries {
	width: 100% !important;
	margin: 0 5.5% 7.5% 0 !important;

	@media #{bp(medium)} {
		float: left !important;
		width: 44% !important;
	}

	@media #{bp(large)} {
		width: 100% !important;
	}
}

body #page-container {
	.et_pb_blog_grid {
		article {
			border: .0625em solid $blog-border-color;

			&:hover {
				border-color: $blog-hover-color;
				transition: $blog-hover-transition;

				h2.entry-title {
					color: $common-primary-color !important;
				}
			}

			.et_pb_image_container {
				margin: -1.15em;
			}

			h2.entry-title {
				padding: 0;
				margin: $blog-text-margin;
				color: $blog-title-color !important;
				font-size: $blog-title-size !important;
				font-weight: $blog-title-weight !important;

				&:hover {
					color: $common-primary-color !important;
				}
			}

			.more-link {
				display: block;
				margin-top: .5em;

				&:hover {
					font-weight: $common-text-fat-weight;
				}
			}
		}
	}
}
