//change layout for same width of website
body.category #main-content > div, .gabick-blog article.page {
	box-sizing: border-box;
	width: 100%;
	max-width: 93.75em;
	padding-right: 1.25em;
	padding-left: 1.25em;
	margin-right: auto;
	margin-left: auto;

	&::before {
		display: none;
	}

	.et_pb_column_1_4 {
		order: 2;
		width: 100%;
		padding-right: 2%;
		margin-top: 1em;
		margin-right: 0;

		@media #{bp(large)} {
			order: 1;
			width: 30%;
			margin-top: 0;
		}

		.et_pb_sidebar_0 {
			width: 100%;
			margin-bottom: 1em;
		}
	}

	.et_pb_column_3_4 {
		width: 100%;
		padding-left: 0;

		@media #{bp(large)} {
			width: 70%;
		}
	}
}

// general grid for blog
.et_pb_blog_grid_wrapper {
	.et_pb_salvattore_content[data-columns] {
		&::before {
			content: '3 .column.size-1of3' !important;
		}
	}

	.column.size-1of3 {
		width: 100% !important;
		margin-right: 0%;

		article {
			margin-bottom: .6875em;
		}
	}

	@media #{bp(medium)} {
		.column.size-1of3 {
			width: 49% !important;
			margin-right: 1% !important;
		}
	}

	@media #{bp(large)} {
		.column.size-1of3 {
			width: 32.25% !important;
		}
	}
}

body.search {
	#left-area {
		.et_pb_blog_grid {
			display: flex;
			flex-flow: row wrap;

			article {
				width: 100%;

				@media #{bp(medium)} {
					width: 49%;
					margin-right: 1%;
				}

				@media #{bp(large)} {
					width: 32.25%;
				}

				.et_pb_image_container {
					margin: -1.1875em -1.1875em 1.8125em;
				}
			}
		}
	}
}
