.woocommerce {
	ul.products {
		li.product {
			border: .0625em solid $woocommerce-border-color;

			&:hover {
				border-color: $woocommerce-hover-color;
				transition: $woocommerce-hover-transition;

				h2.woocommerce-loop-product__title {
					color: $woocommerce-hover-color !important;
					transition: $woocommerce-hover-transition;
				}

				.add_to_cart_button {
					background: $common-base-color !important;
				}
			}

			h2.woocommerce-loop-product__title {
				padding: 0;
				margin: $woocommerce-text-margin;
				color: $woo-commerce-title-color !important;
				font-size: $woo-commerce-title-size !important;
				font-weight: $woo-commerce-title-weight !important;
				text-align: center;
			}

			.star-rating {
				display: block;
				margin: .5em auto !important;
				text-align: center;

				span {
					height: 0;
					padding-top: 1em;
				}
			}

			.price {
				margin: $woocommerce-text-margin !important;
				color: $woo-commerce-title-color !important;
				font-size: $woo-commerce-title-size !important;
				font-weight: $woo-commerce-title-weight !important;
				text-align: center;
			}

			span.onsale {
				top: 0 !important;
				right: inherit !important;
				left: 0 !important;
				border-radius: common-radius(button) !important;
				background-color: $common-alt-color;
			}
		}
	}

	span.onsale {
		top: 0 !important;
		right: inherit !important;
		left: 0 !important;
		border-radius: common-radius(button) !important;
		background-color: $common-alt-color;
	}

	.woocommerce-breadcrumb {
		color: $common-primary-color !important;
		font-size: $common-text-base-size !important;
		letter-spacing: .125em;
	}

	#content-area {
		.summary {
			h1.product_title {
				padding: 0 0 1em;
				margin: 0;
				font-size: $common-title-big-size;
			}

			.price, .woocommerce-variation-price, .woocommerce-variation-availability, .woocommerce-variation-description {
				margin-bottom: 1.5625em;

				p {
					margin-bottom: 0;
				}
			}
		}

		.variations {
			.label {
				display: none;
			}

			.value #attribute {
				width: 80%;
				height: 2em;
			}
		}

		.woocommerce-tabs {
			border: 0;

			.panel h2:first-child {
				display: none;
			}

			ul.tabs {
				padding: 0;
				margin: 0;
				background: 0 !important;
				text-align: center;

				&::before {
					bottom: unset;
				}

				li {
					border: 0 !important;
					background: 0 !important;

					&.active {
						a::before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: .125em;
							background: $common-primary-color;
						}
					}
				}
			}
		}
	}
}

//menu Icon
#et_top_search {
	position: relative;

	#et_search_icon {
		position: relative;
	}
}

#et-top-navigation {
	.et-cart-info {
		position: absolute;
		right: 2.25em;
		display: block;

		@media #{bp(large)} {
			display: none;
		}
	}
}

.et_overlay {
	border: 0;
	background-color: $woocommerce-image-hover-color;

	&::before {
		content: '\55';
		position: absolute;
		top: 55%;
		left: 50%;
		width: 3.125em;
		height: 3.125em;
		border-radius: $woocommerce-overlay-border-radius;
		margin: -1em 0 0 -1em;
		background-color: $woocommerce-icon-background-color !important;
		color: $woocommerce-icon-color !important;
		font-size: $woo-commerce-title-size !important;
		text-align: center;
		line-height: 3.125em;
		transition: $woocommerce-hover-transition;
	}
}
