/* Product Page */
.woocommerce {
	div.product {
		form.cart, form.checkout {
			.button {
				@include woocommerce-add-styles($icon: true);
				display: inline-block;
				margin: 0 0 1em;
			}
		}
	}
}

body #page-container #et-main-area #main-content {
	/* Cart Page */
	.wc-proceed-to-checkout {
		.checkout-button {
			@include woocommerce-add-styles();
			background-color: $common-primary-color !important;

			&:hover {
				background-color: $common-base-color !important;
			}
		}
	}

	/* Checkout Page */
	#place_order {
		@include woocommerce-add-styles();
		padding: 0 $woocommerce-height-box 0 $woocommerce-height-box !important;
		background-color: $common-primary-color !important;

		&:hover {
			padding: 0 $woocommerce-height-box 0 $woocommerce-height-box !important;
			background-color: $common-base-color !important;
		}
	}

	.add_to_cart_button {
		@include woocommerce-add-styles($icon: true);
		display: inline-block;
		margin: 0 0 1em;

		&::after {
			display: none;
		}
	}
}
