.woocommerce-cart {
	table.cart {
		a.remove {
			display: inline-block;
			color: $common-primary-color !important;

			&:hover {
				background-color: $common-primary-color !important;
				color: $common-button-text-color !important;
			}
		}

		.product-thumbnail {
			display: block;

			&::before {
				display: none;
			}

			img {
				width: 7.8125em;
			}
		}

		#coupon_code {
			width: 100%;
			margin-bottom: .5em;

			@media #{bp(medium)} {
				width: 9.375em;
				margin-bottom: 0;
			}

			+ .button {
				width: 100%;

				@media #{bp(medium)} {
					width: auto;
				}
			}
		}

		.add_to_cart_button {
			background-color: $common-primary-color !important;
		}
	}
}
