//-------------------------------------
//-- Woocommerce - Checkout
//-------------------------------------

/* Add Icons to Headers & Notifications */
body.woocommerce-checkout {
	h3 {
		&::before {
			content: '\70'; /* sets default icon to a circled "i" */
			vertical-align: bottom;
			padding-right: .625em;
			color: $common-primary-color;
			font-family: $woocommerce-font-icon;
			font-size: $common-title-size;
		}

		&#order_review_heading {
			&::before {
				content: '\e015';
			}
		}
	}

	/* some tweaks to simplify the payment method area */
	#payment {
		background: transparent !important;

		ul.payment_methods {
			border: 0;
		}
	}

	/* Style form fields to look like Divi */
	input.text, input.title, input[type='email'], input[type='password'], input[type='tel'], input[type='text'], select, textarea {
		border: 0;
		background-color: $woocommerce-checkout-background;
	}

	.select2-container, .select2-container--default {
		.select2-selection--single, .select2-selection__rendered {
			height: 3.0625em;
			border: 0;
			background-color: $woocommerce-checkout-background;
			color: $common-base-color;
			line-height: 3.0625em;
		}

		.select2-results__option--highlighted {
			background-color: $common-primary-color;
		}
	}

	@media #{bp(large)} {
		.woocommerce {
			overflow: hidden;

			&::after {
				clear: both;
			}

			.col2-set {
				float: left;
				width: 48%;

				.col-1 {
					width: 100%;
				}

				.col-2 {
					display: none;
				}
			}
		}

		#order_review_heading, .woocommerce #order_review, .woocommerce-page #order_review {
			float: left;
			width: 48%;
			margin-left: 4%;
		}
	}

	.flagship-error {
		display: none;
	}
}
