#page-container {
	.woocommerce {
		ul.products {
			display: flex;
			flex-wrap: wrap;

			li.product {
				width: 100%;
				margin: 0 1% 2.992em 0;
				text-align: center;
			}
		}

		@media #{bp(medium)} {
			ul.products li.product {
				width: 49%;
			}
		}

		@media #{bp(large)} {
			ul.products li.product {
				width: 49%;
			}

			&.columns-6 {
				ul.products li.product {
					width: 15.6%;
				}
			}

			&.columns-5 {
				ul.products li.product {
					width: 19%;
				}
			}

			&.columns-3 {
				ul.products li.product {
					width: 32.25%;
				}
			}

			&.columns-2 {
				ul.products li.product {
					width: 49%;
				}
			}

			&.columns-1 {
				ul.products li.product {
					width: 100%;
					margin: 0 0 2.992em;
				}
			}
		}

		@media #{bp(xlarge)} {
			ul.products li.product {
				width: 23%;
				margin-left: .0625em;
			}

			&.columns-6 {
				ul.products li.product {
					width: 15.6%;
				}
			}

			&.columns-5 {
				ul.products li.product {
					width: 19%;
				}
			}

			&.columns-3 {
				ul.products li.product {
					width: 32.25%;
				}
			}

			&.columns-2 {
				ul.products li.product {
					width: 49%;
				}
			}

			&.columns-1 {
				ul.products li.product {
					width: 100%;
					margin: 0 0 2.992em;
				}
			}
		}
	}
}

.woocommerce-page {
	#page-container {
		ul.products {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			li.product {
				width: 100% !important;
				margin: 0 1% 2.992em 0 !important;
				text-align: center;

				@media #{bp(medium)} {
					width: 49% !important;
				}

				@media #{bp(large)} {
					width: 32.25% !important;
				}

				@media #{bp(xlarge)} {
					width: 24% !important;
				}
			}
		}
	}
}


