.woocommerce-page {
	.quantity {
		input.qty {
			width: 100%;
			min-width: 3.125em;
			max-width: 8.125em;
			height: $woocommerce-height-box !important;
			border: $woocommerce-input-border !important;
			outline: none;
			background: 0 !important;
			color: $common-base-color !important;
			font-size: $common-text-base-size !important;
			font-weight: $common-text-semi-fat-weight !important;
		}
	}
}
