#page-container {
	nav.woocommerce-MyAccount-navigation, .widget_product_categories {
		width: 100%;
		margin-bottom: 1em;

		@media #{bp(medium)} {
			float: left;
			width: 38%;
		}

		@media #{bp(large)} {
			width: 25%;
			margin-bottom: 0;
		}

		ul {
			list-style-type: none;
			padding: 0 2em 0 0;
			font-size: $common-text-base-size;
			line-height: $woocommerce-sidebar-item-lineheight;

			li {
				list-style: none;
				border-bottom: .0625em solid rgba(0, 0, 0, .05);
				background-color: rgba(0, 0, 0, .05);

				&.cat-parent {
					ul {
						li {
							background-color: #e9e9e9; // stylelint-disable-line scale-unlimited/declaration-strict-value
						}
					}
				}

				&.is-active, &.current-cat {
					> a {
						background-color: $common-primary-color !important;
						color: $common-button-text-color;
						cursor: default;

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: -.88em;
							width: 0;
							height: 0;
							border-top: 1.3em solid transparent;
							border-bottom: 1.3em solid transparent;
							border-left: .875em solid $common-primary-color !important; // stylelint-disable-line scale-unlimited/declaration-strict-value
						}

						&:hover {
							background-color: $common-primary-color;
						}
					}
				}

				a {
					position: relative;
					display: block;
					padding: .5em 1.25em;

					&:hover {
						background-color: #bdbdbd; // stylelint-disable-line scale-unlimited/declaration-strict-value

						&::after {
							content: '';
							position: absolute;
							top: 0;
							right: -.88em;
							width: 0;
							height: 0;
							border-top: 1.3em solid transparent;
							border-bottom: 1.3em solid transparent;
							border-left: .875em solid #bdbdbd; // stylelint-disable-line scale-unlimited/declaration-strict-value
						}
					}
				}

				ul.children {
					padding-right: 0;

					li {
						a {
							padding-left: 2.5em;
						}
					}
				}
			}
		}
	}

	.widget_product_categories {
		width: 100%;

		li {
			margin: 0;

			a {
				color: $common-primary-color;
			}
		}
	}
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 100%;
	padding: 1em;

	@media #{bp(medium)} {
		float: left;
		width: 62%;
		padding: 0;
	}
	@media #{bp(large)} {
		width: 75%;
	}
}
