//-------------------------------------
//-- Promo Bar - Base
//-------------------------------------
.promo-banner-area {
	position: inherit !important;
	top: 0 !important;
	width: 100%;
	text-align: center;



	+ #top-header {
		position: inherit !important;
		top: 0 !important;

		+ #main-header {
			position: inherit !important;
			top: 0 !important;
		}
	}

	@media #{bp(large)} {
		position: fixed !important;
		z-index: common-zindex(small, 100);

		+ #top-header {
			position: fixed !important;
			top: $promo-bar-topheader + $promo-bar-top-position !important;

			+ #main-header {
				position: fixed !important;
				top: $promo-bar-mainheader + $promo-bar-top-position !important;
			}
		}

	}

	.widget-promo-banner {
		padding: .75em 0;
	}

	.promo-banner-text {
		font-size: $common-text-tiny-size;
		font-weight: $common-text-fat-weight;
		text-align: center;

		@media #{bp(large)} {
			font-size: $common-text-base-size;
		}
	}
}

#page-container {
	padding-top: 0 !important;

	@media #{bp(large)} {
		padding-top: 111px !important;  // stylelint-disable-line unit-whitelist
	}
}

body.admin-bar {
	.promo-banner-area {
		position: inherit !important;
		top: 0 !important;

		+ #top-header {
			position: inherit !important;
			top: 0 !important;

			+ #main-header {
				position: inherit !important;
				top: 0 !important;
			}
		}


		@media #{bp(large)} {
			position: fixed !important;
			top: $promo-bar-top-position + $admin-bar-height !important;

			+ #top-header {
				position: fixed !important;
				top: $promo-bar-topheader + $admin-bar-height + $promo-bar-top-position !important;

				+ #main-header {
					position: fixed !important;
					top: $promo-bar-mainheader + $admin-bar-height + $promo-bar-top-position !important;
				}
			}
		}
	}
}
