//-------------------------------------
//-- Form - Base
//-------------------------------------
body #page-container {
	.wpcf7 {
		width: 100%;

		br {
			display: none;
		}

		.wpcf7-form-control-wrap {
			&:not(.your-message) {
				float: left;
				width: 100%;
				padding: 0 0 0 3%;
				margin-bottom: 3%;

				@media #{bp(medium)} {
					width: 50%;
				}
			}

			&.your-message {
				float: left;
				width: 100%;
				padding: 0 0 0 3%;
			}

			input, textarea {
				width: 100%;
				padding: 1em;
				border: $form-border;
				background: transparent;
				color: $form-text-color !important;
			}
		}

		.wpcf7-submit {
			float: right;
			margin-top: 1em;

			&:hover {
				background: $common-primary-color !important;
				cursor: pointer;
			}
		}

		div.wpcf7-response-output {
			border: $common-warning-text-color !important;
			margin: 3em .5em 1em !important;
			color: $common-warning-text-color !important;
		}

		div.wpcf7-validation-errors, span.wpcf7-not-valid-tip {
			color: $common-error-text-color !important;
		}

	}
}

.grecaptcha-badge {
	z-index: common-zindex(header, 0);
}
