//-------------------------------------
//-- Promo Bar - Config - Design
//-------------------------------------

/* ... */
$promo-bar-top-position-small: 				0; // stylelint-disable-line unit-whitelist
$promo-bar-topheader-small: 				39px; // stylelint-disable-line unit-whitelist
$promo-bar-mainheader-small: 				70px; // stylelint-disable-line unit-whitelist

$promo-bar-top-position-medium: 			14px; // stylelint-disable-line unit-whitelist
$promo-bar-topheader-medium: 				39px; // stylelint-disable-line unit-whitelist
$promo-bar-mainheader-medium: 				70px; // stylelint-disable-line unit-whitelist

$promo-bar-top-position: 					0; // stylelint-disable-line unit-whitelist
$promo-bar-topheader: 						44px; // stylelint-disable-line unit-whitelist
$promo-bar-mainheader: 						75px; // stylelint-disable-line unit-whitelist

$admin-bar-height-mobile: 					46px; // stylelint-disable-line unit-whitelist
$admin-bar-height: 							32px; // stylelint-disable-line unit-whitelist
