//-------------------------------------
//-- blog - Config - Design
//-------------------------------------

/* ... */
$blog-sidebar-item-lineheight:   	1.625em;
$blog-text-margin: 					.5em 0;
$blog-title-size: 					$common-text-base-size;
$blog-title-weight: 				$common-text-fat-weight;
$blog-title-color: 					$common-base-color;
$blog-border-color: 				rgba(215, 215, 215, .5);
$blog-hover-color: 					$common-link-hover-color;
$blog-hover-transition: 		    $common-hover-transition;
