//-------------------------------------
//-- eventCalendar - Base
//-------------------------------------

/* ... */

#tribe-events-pg-template {
	padding-top: 8.6875em;
}

.tribe-events-title-bar {
	padding-bottom: 4.6875em;
}

.tribe-events-notices {
	background-color: $common-error-text-color;
	color: $common-button-text-color;
	text-shadow: none;
}
