//-------------------------------------
//-- Woocommerce - Config - Design
//-------------------------------------

/* ... */
$woocommerce-border-color: 				rgba(215, 215, 215, .5);
$woo-commerce-title-size: 				$common-text-base-size;
$woo-commerce-title-weight: 			$common-text-fat-weight;
$woo-commerce-title-color: 				$common-base-color;
$woocommerce-hover-color: 				$common-link-hover-color;
$woocommerce-hover-transition: 		    $common-hover-transition;
$woocommerce-text-margin: 				.5em 0;
$woocommerce-image-hover-color: 		rgba(255, 255, 255, .5);
$woocommerce-icon-color: 				$common-bg-color;
$woocommerce-icon-background-color: 	$common-base-color;
$woocommerce-overlay-border-radius: 	50%;
$woocommerce-input-border: 				.0625em solid rgba(0, 0, 0, .05);
$woocommerce-height-box: 				3.4375em;
$woocommerce-font-icon: 				'ETmodules';
$woocommerce-checkout-background: 		#eeeeee;
$woocommerce-sidebar-item-lineheight:   1.625em;
