//-------------------------------------
//-- Woocommerce - Config - Mixins
//-------------------------------------

//-- Button

@mixin woocommerce-add-styles($icon: false) {
	position: relative;
	height: $woocommerce-height-box !important;
	padding: 0 2.25em !important;
	border: 0 !important;
	border-radius: common-radius(button) !important;
	background: $common-primary-color;
	color: $common-button-text-color !important;
	font-size: $common-text-base-size !important;
	line-height: $woocommerce-height-box !important;

	&:hover {
		padding: 0 2.25em !important;
		background: $common-base-color;
	}

	@if $icon == true {
		&::before {
			content: '\e015';
			position: absolute;
			top: 22%;
			left: 1.125em;
			margin-top: -.625em;
			color: $common-button-text-color;
			font-family: $button-icon-font;
			font-size: $common-text-medium-size;
			font-weight: $common-text-base-weight;
		}
	} @else if $icon == false {
		&:hover {
			padding: 0 1.25em 0 $woocommerce-height-box !important;
		}
	}
}
