//-------------------------------------
//-- Site - Base
//-------------------------------------
body #page-container {
	.nav {
		li.current-menu-item {
			a {
				color: $common-primary-color !important;
			}
		}
	}

	.et_pb_button, #et-main-area #main-content .product input.submit, .woocommerce .button:not(.add_to_cart_button), .wpcf7-submit {
		padding: .6em 1.25em !important;
		border-color: $common-base-color !important;
		background: none !important;
		color: $common-base-color !important;
		font-weight: $common-text-fat-weight !important;
		text-transform: uppercase;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 50%;
			bottom: 0;
			left: 50%;
			z-index: common-zindex(min, -2);
			display: block !important;
			opacity: 0;
			margin-left: 0;
			background-color: $common-base-color !important;
			transition: $button-hover-transition !important;
		}

		&:hover {
			background-color: $common-base-color !important;
			color: $common-button-text-color !important;
			transition: $button-hover-transition;

			&::before {
				right: 0;
				left: 0;
				opacity: 1;
				transition: $button-hover-transition;
			}
		}

		&.et_pb_bg_layout_dark {
			z-index: common-zindex(min);
			border-color: $common-primary-color !important;
			color: $common-button-text-color !important;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: 50%;
				bottom: 0;
				left: 50%;
				z-index: common-zindex(min, -2);
				display: block !important;
				opacity: 0;
				margin-left: 0;
				background-color: $common-primary-color !important;
				transition: $button-hover-transition;
			}

			&:hover {
				color: $common-button-text-color !important;
				transition: $button-hover-transition;

				&::before {
					right: 0;
					left: 0;
					opacity: 1;
					transition: $button-hover-transition;
				}
			}
		}
	}

	#et-main-area #main-content .product input.submit:hover {
		background-color: $common-base-color !important;
	}

	@media #{bp(medium down)} {
		.et-search-form {
			width: 100% !important;
			max-width: 100% !important;
			background-color: $common-bg-color !important;
		}

		.et_pb_search_form_hidden {
			animation: none !important;
		}
	}
}
