body.woocommerce-page #main-content .container, body.blog #main-content .container, body.search #main-content .container {
	box-sizing: border-box;
	width: 100%;
	max-width: 93.75em;
	padding-right: 1.25em;
	padding-left: 1.25em;
	margin-right: auto;
	margin-left: auto;

	&::before {
		display: none;
	}

	#sidebar {
		width: 100%;
		padding-right: 2%;

		@media #{bp(large)} {
			width: 25%;
		}

		@media #{bp(xlarge)} {
			width: 20%;
		}
	}

	#left-area {
		width: 100%;
		padding-left: 0;

		@media #{bp(large)} {
			width: 75%;
		}

		@media #{bp(xlarge)} {
			width: 80%;
		}
	}
}

