//-------------------------------------
//-- Footer - Config - Design
//-------------------------------------

/* ... */
// Classic url
@mixin footer-client-background-image {
	@include nwayo-bg-image-styles('logo_horizontal_50pxhaut_white.png', 'footer');
}

$social-color: 						#ffffff;
$social-color-hover: 				rgba(255, 255, 255, .5);
$link-hover-transition: 			.3s ease;
