//-------------------------------------
//-- Form - Config - Design
//-------------------------------------

$form-input-bg-color:          $common-bg-color;
$form-input-border-color:      $common-border-color;
$form-input-text-color:        $common-text-color;
$form-input-placeholder-color: lighten($common-text-color, 50%);
$form-error-text-color:        $common-error-text-color;

$form-input-text-font:         $common-text-font;
$form-input-text-size:         $common-text-base-size;
$form-input-lineheight:        $common-text-lineheight;

$form-border: 				    solid .0625em #e6e6e6;
$form-text-color: 				$common-text-var1-color;

